PORT = "TU_PUERTO"

#para db postgres
#DB_URL_NAME = "URL_DE_TU_BASE_DE_DATOS_POSTGRES"
#DB_USERNAME = "USUARIO_DE_TU_BASE_DE_DATOS_POSTGRES"
#DB_PASSWORD = "CONTRASEÑA_DE_TU_BASE_DE_DATOS_POSTGRES"
#DB_DRIVER = "org.postgresql.Driver"

#para db slq server
DB_URL_NAME = "URL_DE_TU_BASE_DE_DATOS"
DB_USERNAME = "USUARIO_DE_TU_BASE_DE_DATOS"
DB_PASSWORD = "CONTRASEÑA_DE_TU_BASE_DE_DATOS"
DB_DRIVER = "com.microsoft.sqlserver.jdbc.SQLServerDriver"


PREFIX = "/api/v1" #prefijo para las rutas de la API, puedes cambiarlo según tus necesidades